.ground{
	position: absolute;
	height: 100px;
	width: 450px;
	/*Image borrowed from here: http://www.auntie-mom.com/grass__no_background_.png*/
	background-image: url('/images/grass_platform.png');
	background-size: 100% 100%;
	margin-left:-15px;
	margin-top: -80px;
}

.platform {


  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  /*Image borrowed from here: http://www.auntie-mom.com/grass__no_background_.png*/
  background-image: url('/images/grass_platform.png');
  background-size: 100% 100%;

    
}

.enemy{
	position: absolute;
	left: 0;
	top: 0;
	height: 50px;
	background-image: url('/images/football_shoe.png');
	background-size: 100% 100%;
}

.movingPlatform {
    background-image: url('/images/speed_platform.png'); 
    background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
	height: 15px;
	/*background: url('/images/speed_platform.png') 100% 100% / contain no-repeat; */
   }

